# Environment variables
.env

# Virtual environments
env_rmp/
env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/
staticfiles/
local_settings.py

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db